<%- include('partials/header'); -%>

    <form class="form" id="ajaxForm" autocomplete="off">
        <h1 class="newMsg">
            Ajax Message
        </h1>
        <div class="mb-3">

            <input type="text" required="true" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="mb-3">

            <input type="text" required="true" class="form-control" id="country" placeholder="Country">
        </div>
        <div class="mb-3">

            <textarea class="form-control" required="true" id="message" rows="3"
                placeholder="Write a message..."></textarea>
        </div>
        <button type="submit" id="ajaxBtn" class="btn btn-light composeButton">Send</button>
    </form>
    <br>
    <div id="messages" class="messageSettings">

    </div>
    <%- include('partials/footer'); -%>