<%- include('partials/header'); -%>
    <div class="grid">
        <div class="container a">
            <h1>Welcome to the guestbook</h1>
            <p>
                In here you can leave an digital foot print that will last forever!
            </p>
        </div>
        <div class="container b">

            <h1>To read...</h1>
            <p>
                To read other people messages just press "guest book" and there you can read what other people have
                said!
            </p>
        </div>
        <div class="container c">
            <h1>Leave a message...</h1>
            <p>
                To make your own message just press "new message" or "ajax message" new message will submit your
                information directly to the server while as ajax message post request and fetch it to the server via js
            </p>
        </div>
    </div>
    <%- include('partials/footer'); -%>